/********************************************
Configuracion de los estilos comunes sobre 
las secciones de navegacionde las diferentes 
interfaces de usuario
********************************************/
.container-general {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.contenedor-scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding-top: 50px;
    padding-bottom: 30px;
}

.boton-gastronomia {
    width: 70%;
    height: auto;
    font-weight: bold;
    color: var(--bg-100);
    text-shadow: 2px 2px 4px var(--text-100), 2px 2px 4px var(--text-200);
    border-radius: 10px;
    padding: 2vw;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}