/********************************************
Clases sobre los textos
********************************************/
.txt-2vw {
    font-size: 2vw;
}
  
.txt-1-5vw {
    font-size: 1.5vw;
}

.txt-1vw {
    font-size: 1vw;  
}

.txt-3vw {
    font-size: 3vw;
}