/********************************************
Configuracion de los estilos comunes sobre 
las secciones de los componentes del Home
********************************************/
section div {
    text-align: center;
}

section img {
    width: 100%;
    height: auto;
}

.btn-loggin {
    color: var(--text-100);
    background-color: var(--primary-100);
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-decoration: none;
}

section div input {
    display: flex;
    flex-direction: column;
}

.txt-registro {
    color: var(--text-100);
    font-weight: lighter;
}

.container-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.styled-input {
    text-align: center;
    padding: 10px 35px;
    margin: 10px 0;
    border: 5px solid var(--primary-300);
    border-radius: 30px;
    background-color: transparent;
}

.div-space {
    padding: 20px;
}